*{
    margin: 0px;
    padding: 0px;
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("p.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
} 
.cd {
    color: orangered;
}
.aside-info{display:block;}

nav {height: 80px;
    width: 100%;
    line-height: 80px;
    border-bottom: 1px solid white;
    }
#a1{
    padding-top: 20px;
    
    border-bottom: 1px solid white;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    
    transition: 0.6s ease;
}
ul li a:hover {
   
    background-color: #fff;
    color: #000;
    
    
}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title h1{
    color: white;
    font-size:80px;
}
#a2{padding-top: 10px;}
section{background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));}
    
    .name{
        font-family:'lobster','cursive';
        margin-left:20px; color:orangered; font-weight:bold; font-size:20px;
    }
   
    a:hover{
          color:blue;font-weight: bold;
    }
   
    img:hover{  
        width: auto;
        transition: all 0.3s ease-in-out 0s;
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
        transition-delay: 0s; transform:translateY(-5%);
    }
    .cntnr1_bg{
        background-color:beige;
    }
.a3{
    height:120px;
    width:60%;
    background-color: rgba(21, 10, 59, 0.6);
    position: absolute;
  top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.a3 label{display: inline-block; padding: 17px;
font-size: 15px; color: #E67402;}

.a3 select{background-color: transparent;color: white;}
.a3 option{background-color: transparent;color: black;}
#ad{background-image:linear-gradient(rgba(235, 117, 20, 0.7),rgba(177, 97, 32, 0.7))}

    


